@font-face {
    font-family: 'NexaRust';
    src: url('fonts/NexaRustSlab-BlackShadow01.eot');
    src: url('fonts/NexaRustSlab-BlackShadow01.eot?#iefix') format('embedded-opentype'),
        url('fonts/NexaRustSlab-BlackShadow01.woff2') format('woff2'),
        url('fonts/NexaRustSlab-BlackShadow01.woff') format('woff'),
        url('fonts/NexaRustSlab-BlackShadow01.ttf') format('truetype'),
        url('fonts/NexaRustSlab-BlackShadow01.svg#NexaRustSlab-BlackShadow01') format('svg');
    font-weight: 900;
    font-style: normal;
}

body {
	background: url(retro-bg.jpg);
	background-size: cover;
}

div.image-preview,
div.image-widget-data {
  float: none !important;
}

div.field-name-field-image,
div.field-name-field-image-b {
  float: left;
}

#img-1-cnvs {
  margin-left: -480px;
}

#score, #game-message, #game-result {
	font-family: NexaRust;
	font-size: 2.5em;
	line-height: 1em;
}

.spot-image {
    float: left;
	margin-left: 15px;
}


#game-clock, #game-stats {
	float: left;
	width: 49%;
}

#game {
	clear: both;
}

.nextgame {
    cursor: pointer;
}

.result-list td {
    text-align: center;
}

