@font-face {
    font-family: 'NexaRust';
    src: url('./fonts/NexaRustSlab-BlackShadow01.eot');
    src: url('./fonts/NexaRustSlab-BlackShadow01.eot?#iefix') format('embedded-opentype'),
        url('./fonts/NexaRustSlab-BlackShadow01.woff2') format('woff2'),
        url('./fonts/NexaRustSlab-BlackShadow01.woff') format('woff'),
        url('./fonts/NexaRustSlab-BlackShadow01.ttf') format('truetype'),
        url('./fonts/NexaRustSlab-BlackShadow01.svg#NexaRustSlab-BlackShadow01') format('svg');
    font-weight: 900;
    font-style: normal;
}

body {
	background: url(retro-bg.jpg);
	background-size: cover;
}

div.image-preview,
div.image-widget-data {
  float: none !important;
}

div.field-name-field-image,
div.field-name-field-image-b {
  float: left;
}

#img-1-cnvs {
  margin-left: -480px;
}

#score, 
#game-message, 
#game-result, 
#finished-message,
#pause a,
#back-from-pause,
#game-hint,
#turn-mobile {
	font-family: NexaRust;
	font-size: 2.5em;
	line-height: 1em;
    color: #000;
    text-decoration: none;
}

#game-hint {
    text-align: center;
}

#game-hint-word {
    color: #c72025;
}

#game-message, #finished-message {
    text-align: center;
    margin: 20px 0;
}

.spot-image {
    
	margin-left: 15px;
    position: relative;
}

#image-1 {
    float: left;
    margin-left: 3%;
}

#image-2 {
    float: right;
    margin-right: 3%;
}


#game-clock, #game-stats, #game-hint {
	float: left;
}

#game-clock {
  width: 38%;
}

#game-stats {
  width: 30%;
}

#game-hint {
    width: 20%;
}

#game-stats {
  text-align: right;
  margin-bottom: 30px;
}

#game {
	clear: both;
}

.nextgame {
    cursor: pointer;
}

.result-list td,
.dashboard td {
    text-align: center;
}

tr.player-one {
  font-size:2em;
  margin: 10px 0;
}



.register_link a {
    color: #fff;
    font-size: 2.2em;
    text-decoration: none;
}

.diff-spotted {
    width: 40px;
    height: 35px;
    background: url(images/x-mark.png);
    position: absolute;
    background-size: cover;
}

#turn-mobile {
    background: url(images/turn.png) no-repeat 50% 0;
    width: 100%;
    height: 350px;
    text-align: center;
    padding-top:150px;
    display: none;
}


@media only screen 
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait),
only screen
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
        
        #game-stats {
            width: 47%;
        }

        #score, #game-message, #game-result, #finished-message, #pause a {
            text-align: center;
            font-size:2em;
        }

        #pause {
            text-align: center;
        }

}

@media screen and (orientation:portrait) {
    #turn-mobile {
      display: block;
    }
    #game-wrapper {
      display: none;
   }

}

@media screen and (orientation:landscape) {
    #turn-mobile {
        display: none;
    }
   
}
