@font-face {
    font-family: 'NexaRust';
    src: url('fonts/NexaRustSlab-BlackShadow01.eot');
    src: url('fonts/NexaRustSlab-BlackShadow01.eot?#iefix') format('embedded-opentype'),
        url('fonts/NexaRustSlab-BlackShadow01.woff2') format('woff2'),
        url('fonts/NexaRustSlab-BlackShadow01.woff') format('woff'),
        url('fonts/NexaRustSlab-BlackShadow01.ttf') format('truetype'),
        url('fonts/NexaRustSlab-BlackShadow01.svg#NexaRustSlab-BlackShadow01') format('svg');
    font-weight: 900;
    font-style: normal;
}

.main-menu ul li a {
	font-family: NexaRust;
	font-size:1.2em;
	color: #000;
	text-decoration: none;
}

.main-menu ul li {
	margin-left: 20px;
}

.main-menu ul {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 4px 0 4px 0;
}

h1, h2 {
  font-family: NexaRust;
}

#auth_box {
    width: 40%;
}

#auth_box #bottom_part a {
	background:#c72025;
	padding:4px 8px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 5px;
	display: block;
	text-align: center;
	font-size: 1.2em;
}

#auth_box .form-submit {
	background:#c72025;
	padding:4px 8px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 5px;
	display: block;
	text-align: center;
}

.section-welcome #lets-play {
	font-size:2.2em;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.header__secondary-menu a {
	background:#c72025;
	padding:4px 8px 6px;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.timer {
    zoom: 0.5;
    -moz-transform: scale(0.5);
}

#user-profile-form fieldset#edit-timezone {
    display: none;
}

.pause-col {
    float: left;
    margin-right: 20px;
}

.news {
    background: #fff;
    padding: 10px;
    height: 480px;
}

.news .news-image img {
  width: 100%;
}

.news h2,
.news p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#pause-left {
    width: 60%;
}

#pause-right {
    width: 35%;
}

.flip-clock-label {
    display: none;
}

@media only screen 
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait),
only screen
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
        body {

        }

        #auth_box {
    		width: 70%;
		}

		.flip-clock-wrapper ul {
			
		}

		.layout-3col__full {
			padding: 0;
		}

		#image-1, #image-2 {
			margin: 0;
		}

		#image-1, #image-2 {
			width: 49%;
		}

		#game-clock {
			position: relative !important;
			padding-top: 0px;
			margin-left: -10%;
			margin-top: -20px;
			height:100px;
			width: 60%;
			/zoom: .6;/
			transform: scale(.54);
			-ms-transform: scale(.54); /* IE 9 */
			-webkit-transform: scale(.54); /* Safari and Chrome */
			-o-transform: scale(.54); /* Opera */
			-moz-transform: scale(.54); /* Firefox */
}
}